.App {
  text-align: center;
}

.Profile-header {
  background-color: #f4eedd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding: 20px;
}

.Profile-photo {
  width: 200px;  
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; 
}

.Profile-photo:hover {
  transform: scale(1.9); 
}

.Name h2, .MBTI h2, .Purpose h2, .Fav h2 {
  color: #553830;
  margin-bottom: 10px;
  transition: color 0.3s ease; 
}

.MBTI, .Purpose, .Fav {
  background-color: 	#fde7e7; 
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.Name{
  text-align: center;
}

.MBTI:hover, .Purpose:hover, .Fav:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 768px) {
  .MBTI, .Purpose, .Fav {
    width: 90%;
  }
}
